* {
  margin: 0;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  max-height: 80%;
  max-width: 80%;
}

.grid-node {
  width: 10px;
  height: 10px;
  padding: 0.05rem;
  border: .1px solid gray;
}

.enhabited {
  background-color:aquamarine;
}

.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 15%;
  height: 80vh;
}

.speed-selector {
  width: 20%;
  margin: 0.5rem;
}

.sidebar div, .sidebar button {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pause-play button {
  margin: 0.5rem;
}